<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="5a6toFk2kw48OcQvW4Amg1eN4rRSslpKWWx8Cx4FkUc" />
    <meta name="google-signin-client_id" content="149645064129-4ak9apr77ggqomrrk9ciu0vi2svh23e8.apps.googleusercontent.com">

    <title>VIDEO.MA | <%- title %></title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="../css/scrolling-nav.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/costume.css" rel="stylesheet">
    <link href="../css/minimale.css" rel="stylesheet">
    <link href="../css/editor.css" rel="stylesheet">
    <link href="../css/dropzone.css" rel="stylesheet">
    <link href="../css/jquery.tags.min.css" rel="stylesheet">
    <link href="../css/select2.min.css" rel="stylesheet">
    <link href="../css/skin-costum.css" rel="stylesheet">
    <link href="../css/flaticon.css" rel="stylesheet">
    <link href="../css/video_player.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ&libraries=places"></script>
    <style type="text/css">

        .list-group-item a ,.card-link{
            color: #0c0a0a;
        }
    </style>
  </head>
