<%- include( '../partials/head', {title: 'Login Page'} ) %>


  <body id="page-top" >
    <%- include( '../partials/header' ,{user : user}) %>

	<section style="padding: 0;">
		<div class="page-header-area-2 gray">
		 <div class="container">
		    <div class="row">
		       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		          <div class="small-breadcrumb">
		             <div class="breadcrumb-link">
		                <ul>
		                    <li>                       
		                         <a href="">
		                            Home 
		                        </a>
		                    </li>
		                    <li class="active">
		                        <a href="" class="active">
		                            Nouveau compte                        
		                        </a>
		                    </li>
		               </ul>
		             </div>
		             <div class="header-page">
		             	<h1>Création de compte</h1>
		             </div>
		             
		          </div>
		       </div>
		    </div>
		 </div>
		</div>

		<div class="vc_row wpb_row vc_row-fluid">
		   <div class="wpb_column vc_column_container vc_col-sm-12">
		      <div class="vc_column-inner">
		         <div class="wpb_wrapper">
		            <div class="main-content-area clearfix ">
		               <section class="section-padding no-top gray">
		                  <div class="container" style="width:90% ;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
		                     <div class="row">
		                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-left: 25%;color: white;background: white;padding: 22px;">
		                           <div class="form-grid">

		                            <a class="btn btn-lg btn-block btn-social btn-facebook" 
		                              	href="/auth/facebook">
		                              	<span class="fab fa-facebook"></span>
		                              	Sign up with Facebook
		                            </a>
	                            	<a class="btn btn-block btn-social btn-google" 
		                              	onclick="hello('google').login({scope : 'email'})">
		                              	<span class="fab fa-google"></span>
		                              	Sign up with Google
	                              	</a>

		                              <h2 class="no-span"><b>OR</b></h2>
		                              <form id="sb-login-form" novalidate="" action="/signup" method="post">
		                                 <div class="form-group">
		                                    <label>Email</label>
		                                    <input placeholder="Your Email" class="form-control" type="email" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter your valid email." data-parsley-trigger="change" name="email" id="sb_reg_email">
		                                 </div>
		                                 <div class="form-group">
		                                    <label>Password</label>
		                                    <input placeholder="Your Password" class="form-control" type="password" data-parsley-required="true" data-parsley-error-message="Please enter your password." name="password">
		                                 </div>
		                                 <div class="form-group">
		                                    <label>Prénom</label>
		                                    <input placeholder="Your lastname" class="form-control" type="text" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter your valid email." data-parsley-trigger="change" name="lastname" id="sb_reg_lastname">
		                                 </div>
		                                 <div class="form-group">
		                                    <label>Nom</label>
		                                    <input placeholder="Your firstname" class="form-control" type="text" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter your valid email." data-parsley-trigger="change" name="firstname" id="sb_reg_firstname">
		                                 </div>
		                                 <div class="form-group">
		                                    <label>Téléphone</label>
		                                    <input placeholder="Your phone" class="form-control" type="text" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter your valid email." data-parsley-trigger="change" name="phone" id="sb_reg_phone">
		                                 </div>
		                                 <div class="form-group">
		                                    <label>Whatapp Numéro</label>
		                                    <input placeholder="Your whatapp" class="form-control" type="text" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter your valid email." data-parsley-trigger="change" name="whatapp" id="sb_reg_whatapp">
		                                 </div>
		                                 <div class="form-group">
		                                    <label>Addresse <small>Selection de la list</small></label>
		                                    <input placeholder="Your address" class="form-control" type="text" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter your valid email." data-parsley-trigger="change" name="emplacement" id="emplacement">
		                                 </div>
		                                 <div class="form-group">
		                                    <input type="text" data-parsley-type="email" style="display:none;" name="lat" id="latitude">
		                                 </div>
		                                 <div class="form-group">
		                                    <input type="text" data-parsley-type="email" style="display:none;" name="lng" id="longitude">
		                                 </div>
		                                 <div class="form-group">
		                                    <div class="row">
		                                       <div class="col-xs-12 col-sm-7">
		                                          <div class="skin-minimal">
		                                             <ul class="list">
		                                                <li>
		                                                   <div class="icheckbox_minimal" style="position: relative;"><input type="checkbox" name="is_remember" id="is_remember" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;" data-parsley-multiple="is_remember"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
		                                                   <label for="is_remember">Remember Me</label>
		                                                </li>
		                                             </ul>
		                                          </div>
		                                       </div>
		                                       <div class="col-xs-12 col-sm-5 text-right">
		                                          <p class="help-block"><a data-target="#myModal" data-toggle="modal">Forgot password?</a>
		                                          </p>
		                                       </div>
		                                    </div>
		                                 </div>
		                                 <button class="btn btn-theme btn-lg btn-block" type="submit" id="sb_login_submit">Sign up for an account.</button>
		                                 <button class="btn btn-theme btn-lg btn-block no-display" type="button" id="sb_login_msg" style="display: none;">Processing...</button>
		                                 <button class="btn btn-theme btn-lg btn-block no-display" type="button" id="sb_login_redirect" style="display: none;">Redirecting...</button>
		                                 <br>
		                                 </p>
		                                 <input type="hidden" id="nonce" value="1547043307">
		                                 <input type="hidden" id="get_action" value="login">
		                              </form>
		                           </div>
		                        </div>
		                     </div>
		                  </div>
		               </section>
		            </div>
		            <!-- Main Content Area End --> 
		            <!-- Forget Password -->
		            <div class="custom-modal">
		               <div id="myModal" class="modal fade" role="dialog">
		                  <div class="modal-dialog">
		                     <!-- Modal content-->
		                     <div class="modal-content">
		                        <div class="modal-header rte">
		                           <h2 class="modal-title">Forgot Your Password ?</h2>
		                        </div>
		                        <form id="sb-forgot-form" novalidate="">
		                           <div class="modal-body">
		                              <div class="form-group">
		                                 <label>Email</label>
		                                 <input placeholder="Your Email" class="form-control" type="email" data-parsley-type="email" data-parsley-required="true" data-parsley-error-message="Please enter valid email." data-parsley-trigger="change" name="sb_forgot_email" id="sb_forgot_email">
		                              </div>
		                           </div>
		                           <div class="modal-footer">
		                              <button class="btn btn-theme" type="submit" id="sb_forgot_submit">Reset My Account</button>
		                              <button class="btn btn-theme" type="button" id="sb_forgot_msg" style="display: none;">Processing...</button>
		                           </div>
		                        </form>
		                     </div>
		                  </div>
		               </div>
		            </div>
		         </div>
		      </div>
		   </div>
		</div>
	</section>


    <%- include( '../partials/footer') %>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../js/scrolling-nav.js"></script>
    <script>


      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      $('#emplacement').on('change',function(){
        var input = document.getElementById('emplacement');
        var autocomplete = new google.maps.places.Autocomplete(input);


        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        autocomplete.setTypes(['address']);

        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          $("input#latitude")[0].value = place.geometry.location.lat();
          $("input#longitude")[0].value = place.geometry.location.lng();
        });
      });

    </script>
  </body>

</html>
